.newTask{
  position: absolute;
  margin-top: calc(12.5rem - (3.375rem /2));
  width:100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0
}

.newTaskForm {
  height: 3.375rem;
  max-width: 46rem;
  width:100%;

  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1rem;
}

.newTaskForm input{
  height: 100%;
  flex: 1;
  padding: 0 1rem;

  color: var(--gray-100);
  background: var(--gray-500);
  border: 1px solid var(--gray-700);
  border-radius: 0.5rem;
}

.newTaskForm input::placeholder {
  color: var(--gray-300);
}

.newTaskForm button {
  height: 3.25rem;
  width: 5.625rem;
  padding: 0 1rem;
  border: 0px;
  border-radius: 8px;
  background: var(--blue-dark);
  color: var(--gray-100);

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.375rem;

  font-weight: 700;
  font-size: 0.875rem;
}
